# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Ignore file
file.txt

vegetation_regrowth_analysis_blog.ipynb

vegetation_regrowth_analysis_blog.html

.DS_Store

.gitignore.swp
